NODE_ENV=test
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@db_test:5432/grand_frere_test

ACCESS_TOKEN_SECRET=test_access_secret_at_least_32_chars_long
REFRESH_TOKEN_SECRET=test_refresh_secret_at_least_32_chars_long
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
